@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

.custom-dot {
    background-color: rgb(255, 255, 255);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .custom-dot.swiper-pagination-bullet-active {
    background-color: greenyellow; /* Blue-500 */
    transform: scale(1.3);
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    display: flex;
    gap: 2rem;
    animation: scroll 50s linear infinite; /* Adjust the duration (30s) for speed */
  }
  

  .animate-fadeInLeft {
    animation: fadeInLeft 1.2s ease-out forwards;
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1.2s ease-out forwards;
  }
    